.countries{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media(max-width:500px){
    .countries{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px 10px 10px 10px;
        gap: 20px;
    }
}