
.close{
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.modal{
    position: absolute;
    height: 30%;
    width: 40%;
    top: 50%;
    left: 30%;
    animation-name: animate;
    animation-duration:1s ;
}
@keyframes animate{
    from{transform: translateY(-2000px);}
    to{transform: translateY(0px)}
}